body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  width: 120px;
  margin-top: 20px;
}

.inicial {
  margin: 10px 0 20px;
  color: #22c55e;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.salvar {
  background: #22c55e;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.salvar:hover {
  background: #16a34a;
}

#lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card h3 {
  margin: 0 0 5px;
  color: #22c55e;
}

.card p {
  margin: 5px 0;
}

.editar {
  background: #3b82f6;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  margin-right: 5px;
}

.excluir {
  background: #ef4444;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.editar:hover {
  background: #2563eb;
}

.excluir:hover {
  background: #dc2626;
}

#busca {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

.alerta {
  color: #facc15;
  font-weight: bold;
}

.urgente {
  color: #ef4444;
  font-weight: bold;
}

.resumo {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.resumo h3 {
  margin: 5px 0;
}
